pandas==2.1.4
numpy==1.24.3
ta==0.11.0
technical-analysis==1.3.0
requests==2.31.0
python-dotenv==1.0.0
science-plots==2.1.1
matplotlib==3.8.2
scipy==1.11.4
scikit-learn==1.3.2
ccxt==4.0.72
yfinance==0.2.32
